:root {
  --primary-whte-color: #ffffff;
  --primary-color-tittle: #2e2f42;
  --secondary-color-tittle: #434455;
  --button-bg-color: #4d5ae5;
  --filter-first-color: #e7e9fc;
  --filter-bg-color: #f4f4fd;
  --filter-color: #404bbf;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}

/* logo webstudio */

.studio {
  color: var(--button-bg-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.web {
  color: var(--primary-color-tittle);
}
.link {
  text-decoration: none;
}

/* site-nav */
.site-nav {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-tittle);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--filter-color);
}
.site-nav .link.current {
  color: var(--filter-color);
}

/* contakts-nav */
.mail-tel {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color-tittle);
}
.mail-tel:hover,
.mail-tel:focus {
  color: #404bbf;
}

/* секция с описанием */
.features {
  color: var(--primary-color-tittle);
}
.features.tittle {
  color: var(--secondary-color-tittle);
}
.post {
  color: var(--secondary-color-tittle);
}
.tittle {
  color: var(--primary-color-tittle);
}
/* button */
.first-button {
  background-color: var(--button-bg-color);
  color: var(--primary-whte-color);
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
}

/* Page two:portfolio*/
.filters {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-bg-color);
  background-color: var(--filter-bg-color);
  text-decoration: none;
  cursor: pointer;
}
.filters:hover,
.filters:focus {
  color: #ffffff;
  background-color: #404bbf;
}
/* !-- блок з картинками --> */
.one {
  box-sizing: border-box;
  position: absolute;
}
.row-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color-tittle);
}
.row-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color-tittle);
}
